<!--模态窗 -->
<div class="modal fade" tabindex="-1"  id="consolemodal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
         <div class="modal-header">
             <button id="closemodal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h2 class="modal-title">console</h2>
             <div class="form-group"><label class="col-sm-2 control-label">构建URL：</label>
                <div class="col-sm-8"><input type="text"  readonly="readonly"  class="form-control" >
                </div>
            </div>
             <div class="col-sm-12">

                <textarea class="form-control" readonly="readonly" name ="get_console" rows="24" placeholder="console"></textarea>
            </div>
        </div>


    </div>
</div>
</div>
<!--模态窗结束 -->
