{% extends "base.html" %}
{% load notice_tags %}
{% load staticfiles %}


{% block title %}通知{% endblock %}
{% block css %}
<style>
.form-horizontal .form-group{margin-bottom:10px;width:100%;}
.form-horizontal  .form-control{width:86%;}
.form-horizontal .control-label{width:75px;}
</style>
{% endblock %}

{% block breadcrunb %}
  <h1>
     消息通知
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">个人中心</li>
  </ol>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row mt-4 ml-4">
        <a href="{% url "notice:update" %}" class="btn btn-warning" role="button">全部标记已读</a>
    </div>
    <!-- 未读通知列表 -->
    <div class="row mt-2 ml-4">
        <ul class="list-group">
            {% for notice in notices %}

                <li class="list-group-item" id="notice_link">

                    <a href="{% url "notice:update" %}?workorder_id={{ notice.target.id }}&notice_id={{ notice.id }}">

                    <span style="color: {% if notice.unread %} black {% else %} lightgrey {% endif %}">[{{ notice.unread|read_or_unread }}]</span>

                        <span style="color: #5897fb;">{{ notice.actor }}</span>在 <span style="color: #01a252;">{{ notice.target }}</span> {{ notice.verb }}。
                    </a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ notice.timestamp|date:"Y/m/d H:i" }}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>



{#<style>#}
{#    #notice_link a:link {#}
{#        color: black;#}
{#    }#}
{##}
{#    #notice_link a:visited {#}
{#        color: lightgrey;#}
{#    }#}
{#</style>#}
{% endblock content %}


